//  admin.scss

@import 'base';

#admin-nav {
  a {
    margin:0.5em 2em;
    width:$four-col;
    display: block;
    text-align:left;
    }
  }

td { background-color: white; }
th { background-color: $header-background; }

th, td {
  font-size: 0.8em;
  padding: 0.25em;
  }

.highlight td {
  background-color: $highlight-background;
  color:$highlight-color;
  }
