//  event_editor.scss

@import 'base';

body { width: 13 * $col; }

#status-bar {
  width: 13 * $col;
	box-shadow: none;
	border-bottom: 1px solid $border-color;
	}

nav:nth-of-type(2) { padding-bottom: 1.25em; }

table	{
	font-size: 0.8em;
	td { background-color: white; }
	th { background-color: $header-background; }
	}

#action-table {
  margin-left: -$gutter;
  background-color:$status-background;
  width:13 * $col;
  padding: $gutter $gutter $gutter $gutter;
  }

#proposal-table {
  width: 13*$col;
  thead, tbody { display: block; }
  tbody {height: $scroll-height; overflow: auto;}
  th:nth-of-type(1) div, td:nth-of-type(1) div {width: 0.7 * $col; } //  Select
  th:nth-of-type(2) div, td:nth-of-type(2) div {width: 0.5 * $col; } //  ID
  th:nth-of-type(3) div, td:nth-of-type(3) div {width: 0.7 * $col; } //  Course
  th:nth-of-type(4) div, td:nth-of-type(4) div {width: 0.7 * $col; } //  Type
  th:nth-of-type(5) div, td:nth-of-type(5) div {width: 1.4 * $col; } //  SubCom
  th:nth-of-type(6) div, td:nth-of-type(6) div {width: 1.4 * $col; } //  CurCom
  th:nth-of-type(7) div, td:nth-of-type(7) div {width: 1.5 * $col; } //  College
  th:nth-of-type(8) div, td:nth-of-type(8) div {width: 1.6 * $col; } //  CUNY
  th:nth-of-type(9) div, td:nth-of-type(9) div {width: 1.8 * $col; } //  Comment
	th:nth-of-type(10) div, td:nth-of-type(10) div {width: 1.8 * $col; } // Effective
	input[type="text"] { width:95%; }
  }

