//	css/need_revisions.scss

@import 'base';

td { background-color: white; }
th { background-color: $header-background; }
th, td {
  font-size: 0.8em;
  padding: 0.25em;
  }

.need-review td {
  background-color:$highlight-background;
	color:$highlight-color;
	a { color:$highlight-color; }
	}
