//	review_editor.scss

@import 'reviews';
body {
  min-width: 850px;
  width: 95%;
}
.need-review {
  background-color:$highlight-background;
	color:$highlight-color;
	a { color:$highlight-color; }
	}