.DS_Store
_notes/
db/
CF_Queries/
gened_offerings/
cur_reports/
Pathways/
*.swp
*.dSYM/
*.log
*.sublime-project
*.sublime-workspace
.project
.setings/
Syllabi/*.pdf
Syllabi/To_Convert/*
.sass-cache/
oci_query
Syllabi.bz2
enrollments/
phpinfo.*

/Approved_Courses/.view_only_passwd

/latest_queries

/Approved_Courses/mongo_conversion/gened_courses.json

/other_queries/
