/* request_rd_change.css */
html, body {
  font-family: sans-serif;
}
body {
  width:50%;
}
input[type=text] {
  width:260px;
}
select {
  width:150px;
}
button {
  display:block;
  margin:1em auto;
}
.error {
  color:#c66;
}
