/* pathways.css
 */
html, body {
	margin:0; padding:0;
	background-color:#eee;
	color:#633;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:16px;
}

body {
	background-color:#fff;
	max-width:927px;
  margin:1em auto; padding:1em;
	border:1px solid black;
	border-radius:0.25em;
	box-shadow:#633 0.25em 0.25em 0.25em;
}
h1 { position:relative;top:0.5em;}
h2 {
	margin:0;
}
h2 + dl {
	margin: 0 1em;
}
dl p {
	margin:0; padding: 0 1em;
}
dt {
	font-weight: bold;
	margin:0;
}
dd {
	margin:0;
}

a {
	color:#633;
}

dl dl {
	margin: 0 1em;
}

#nav {
	margin: 0 0 0 -3em;
	list-style-type:none;
}
#nav li {
	float:left;
	margin:0.5em;
}
#nav a {
	display:block;
	border-radius:0.25em;
	padding:0.25em 0.5em;
	background-color:#eee;
	color:#633;
	text-decoration:none;
	letter-spacing:0.1em;
	box-shadow:#633 0.15em 0.15em 0.15em
}
#nav a:hover {
	background-color:#633;
	color:#eee;
}
#nav + * {
	clear:both;
}